<header>
    <section ngClass="mainTitleSection">
        <div>
            <h1>Title</h1>
        </div>
        <aside>
            <h2>Sub Title</h2>
        </aside>
    </section>
</header>
<main ngClass="mainSection">
    <section>
        <div>
            <h1>Terms of Service</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rem voluptas commodi corrupti nam totam ipsa at veniam porro minus enim, debitis, vero cum sunt reiciendis labore sint libero error.</p>
        </div>
    </section>
    <button ngClass="buttonAccept">Accept</button>
</main>
